/* ------------------------cart-box starts---------------------- */
.cart-section {
    padding: 50px 0px;
}
.cart-box {
    padding: 20px 15px;
    width: 940px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 5px rgb(24 132 66 / 60%);
    border-radius: 5px;
    transition: all .2s linear;
    margin-left: 10px;
}
.cart-box:hover {
    box-shadow: 0 1px 12px rgba(31,115,212,.6);
    cursor: pointer;
}
.cart-header {
    display: inline-flex;
    border-bottom: 2px solid #d8d8d8;
    padding: 0px 0px 10px 0px;
}
.cart-header h1 {
    margin-right: 10px;
}
.cart-header span {
    font-size: 1.0rem;
    margin-top: -3px;
}
.cart-header h2 {
    margin-left: 10px;
    margin-top: 4px;
    font-size: 0.8rem;
    margin-right: 20px;
    color: blue;
}
.cart-header h3 {
    margin-left: 370px;
}
.add-btn {
    margin-left: 20px;
    padding: 2px 5px;
    color: blue;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    height: 28px;
}
.cart-pincode-btn ul li {
    margin: 20px 0px;
}
.cart-pincode-btn p {
    font-weight: 600;
}
.cart-pincode {
    border: none;
    border-bottom: 1px solid blue;
}
.cart-apply {
    text-align: center;
    padding-top: 6px;
    font-size: 1.0rem;
    width: 350px;
    height: 40px;
    position: absolute;
    left: 0px;
    border-top: 1px solid #a0b410;
    background-color: #a0b410;
}
.apply-pincode {
    color: #fff;
}
.apply-pincode:hover {
    color: #fff;
}
.add-btn:hover {
    background-color: blue;
    color: #fff;
}  
.cart-table {
    margin: 10px 20px;
    width: 940px;
}
.cart-item {
    display: flex;
}
.cart-item-img {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
}
.cart-item ul {
    margin-left: 20px;
}
.cart-item h1 {
    margin-top: -10px;
}
.cart-item h2 {
    font-size: 0.8rem;
}
.cart-item span {
    margin-left: 10px;
}
.cart-item-action {
    display: flex;
    margin-left: -10px;
    margin-top: -2px;
}
.cart-select {
    width: 70px;
}
.cart-shopping {
    width: 250px;
    height: 45px;
    font-size: 1.0rem;
    margin-top: 230px;
    font-weight: 400;
    color: #a0b410;
    border: 1px solid #a0b410;
}
.cart-shopping:hover {
    background-color: #a0b410;
    color: #fff;
    border: 1px solid #a0b410;
}
/* -----------------------cart-box ends----------------------- */

/* -----------------------coupon & checkout part starts----------------------- */
.coupon-img {
    width: 50px;
    height: 50px;
}
.cart-coupon {
    background-color: #fff;
    padding:20px 10px;
    border-radius: 5px;
    margin: 0px 10px 0px -90px;
    box-shadow: 0 0 5px rgb(24 132 66 / 60%);
    width: 290px;
    height: 70px;
}
.coupon-box {
    border: 2px dotted black;
    border-radius: 5px;
    display: flex;
    width: 270px;
    height: 54px;
    margin: -10px 0px 0px 0px;
}
.coupon-box h2 {
    margin: 10px 0px 0px 0px;
    font-size: 1.0rem;
}
.coupon-box span {
    margin: 8px 0px 0px 40px;
    font-size: 1.0rem;
}
.cart-checkout {
    background-color: #fff;
    padding:20px 10px;
    border-radius: 5px;
    margin: 20px 10px 0px -90px;
    box-shadow: 0 0 5px rgb(24 132 66 / 60%);
    width: 290px;
    height: 230px;
}
.cart-checkout ul {
    display: flex;
    justify-content: space-between;
}
.cart-checkout ul h1 {
    color: grey;
}
.cart-checkout ul h2 {
    color: grey;
    font-size: 1.0rem;
}
.cart-checkout ul p {
    color: green;
    font-size: 1.0rem;
}
.cart-checkout-info {
    border-bottom: 2px dotted grey;
}
.cart-checkout-amount ul {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.cart-checkout-amount ul h1 {
    color: black;
}
.cart-checkout-amount p {
    color: grey;
    font-size: 0.7rem;
    margin-top: -10px;
}
.cart-checkout-btn {
    font-size: 1.0rem;
    margin: 10px 5px;
    width: 258px;
    height: 40px;
    padding: 5px 0px;
    background-color: #a0b410;
    border-color: #a0b410;
    color: #fff;
}
.cart-checkout-btn:hover {
    background-color: #8a9b07;
    color: #fff;
    border-color: #8a9b07;
}
/* -----------------------coupon & checkout part ends----------------------- */